/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
}

.logo { 
    height: 19px;
    padding: 30px 30px 30px 0px;
}

.navigation-bar ul {
    display: flex;
    column-gap: 68px;
}

.navigation-bar li {
    display: flex;
    height: 35px;
    align-items: flex-end;
    
} 

.navigation-bar li:hover {
    border-top: 2px solid var(--main-color);
    box-sizing: border-box;
    color: var(--main-color);
}
