@import url(header.css);
@import url(search-and-filters.css);
@import url(hebergements-and-populaires.css);
@import url(activities.css);
@import url(footer.css);

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Filters Bar ***********/

    .filters-bar {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .filters-button .button-name {
        font-size: 16px;
    }

    /****** Hebergements And Populaires ***********/
    
    .hebergements-and-populaires {
        flex-direction: column;
        row-gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
    }

    .populaires-cards a {
        flex: 1 1 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/

    .activies-cards .card-content {
        height: 70px;
    }
    .activies-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0;
    }
    
    /****** Header ***********/
    
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-right: 0;
    }

    .navigation-bar {
        width: 100%;
    }
    
    .navigation-bar ul {
        column-gap: 0;
    }

    .navigation-bar li {
        height: 36px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    .navigation-bar li:hover {
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }

    /****** Search And Filters Bars ***********/
    
    .search-and-filters-bars {
        padding: 0 20px;
    }

    .search-bar {
        width: 100%;
    }

    .search-button {
        width: 49px;
        border-radius: 15px;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
    }

    .filters-button .button-name {
        font-size: 14px;
    }

    .search-button i {
        display: block;
        color: white;
        font-size: 17px;
    }
    .search-input {
        flex: 1 1;
    }

    .search-button .search-button-name {
        display: none;
    }

    .filters-button-block{
        row-gap: 20px;
    }
    .filters-button {
        flex: 1 1 40%;
    }

    .info-bar p {
        flex: 1 1;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        row-gap: 15px;
    }

    .hebergements-and-populaires section{
        border-radius: 0;
        padding: 30px 20px;
    }

    .hebergements-and-populaires section:first-child {
        background-color: white;
        padding: 20px;
    }

    .populaires-cards, .hebergements-cards {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .populaires-cards .card, .hebergements-cards .card {
        margin-top: 15px;
    }

    .show-more {
        margin-top: 15px;
    }

    /****** Activités ***********/

    .activities {
        margin-top: 35px;
    }

    .activies-cards {
        flex-direction: column;
        row-gap: 15px;
    }

    .activies-cards .card {
        width: 100%;
    }

    .activies-cards img {
        height: 141px;
    }

    .activies-cards .card-content {
        height: 59px;
    }

    /****** Footer ***********/

    footer {
        flex-direction: column;
        padding: 30px;
        row-gap: 50px;
    }

    .footer-block-text {
        padding: 0;
        width: 100%;
    }
}